.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: auto;
  padding: 30px;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-header h3 {
  color: rgb(252, 186, 65);
  text-transform: uppercase;
}

.section-header h1 {
  text-transform: capitalize;
  margin-top: 10px;
  font-weight: 700;
  font-size: 2.5rem;
  margin-top: 20px;
  transform: scaleY(1.15);
  height: 80px;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  width: 100%;
  grid-gap: 20px;
}

.service {
  display: flex;
  flex-direction: column;
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.service i img {
  filter: invert(76%) sepia(30%) saturate(3461%) hue-rotate(321deg)
    brightness(98%) contrast(91%);
  max-width: 120%;
}

.service h3 {
  margin-top: 30px;
  transform: scaleY(1.2);
}

.service p {
  line-height: 1.8;
  margin-top: 20px;
  font-size: 0.8rem;
}

.service a {
  font-size: 1.2rem;
  margin-top: 30px;
  color: rgb(221, 100, 19);
  text-transform: capitalize;
  transform: scaleY(1.2);
  font-weight: 700;
  font-size: 0.8rem;
}
