.about {
  display: flex;
  width: 70%;
  padding: 20px;
  padding: 150px 0px;
  margin: auto;
  justify-content: center;
}

.section-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 30px;
}

.section-text h3 {
  text-transform: uppercase;
  transform: scaleY(1.2);
  font-size: 0.8rem;
  color: rgb(97, 18, 243);
}

.section-text h1 {
  margin-top: 30px;
  line-height: 1.2;
  width: 90%;
  transform: scaleY(1.2);
  letter-spacing: 1.2px;
}

.section-text p {
  margin-top: 40px;
  font-size: 0.8rem;
  line-height: 1.8;
  width: 80%;
  opacity: 0.8;
}

.section-text button {
  margin-top: 30px;
  width: 30%;
  outline: none;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-weight: 700;
  padding: 20px;
  background: rgb(97, 18, 243);
  cursor: pointer;
}

.about-img {
  display: flex;
  width: 50%;
  padding-top: 30px;
}

.about-img img {
  max-width: 100%;
  border-radius: 3px;
}
