.about {
  display: flex;
  width: 70%;
  padding: 20px;
  margin: auto;
  justify-content: center;
  /* background: rgb(241, 239, 239); */
}

.section-text {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.about-img {
  display: flex;
  width: 50%;
}

.about-img img {
  max-width: 100%;
}
